*.userprefs
*.suo
*.user
*.opensdf
*.DS_Store
Debug
Release
ZDK/bin
ZDK/obj
ZDK.v11
ZDK.sdf
WPF/UserRadar/obj/
WPF/UserRadar/bin

NativeFaceTrackLibWrapper/Debug
NativeFaceTrackLibWrapper/Release